Unity Project Files/The Pen Pals/Library/
Unity Project Files/The Pen Pals/Temp/
Unity Project Files/The Pen Pals/.vs/
Unity Project Files/The Pen Pals/The Pen Pals.csproj
Unity Project Files/The Pen Pals/The Pen Pals.Editor.csproj
Unity Project Files/The Pen Pals/Packages/manifest.json
Unity Project Files/The Pen Pals/The Pen Pals.sln
Unity Project Files/The Pen Pals/Assembly-CSharp-Editor.csproj
Unity Project Files/The Pen Pals/Assembly-CSharp.csproj
Unity Project Files/The Pen Pals/ProjectSettings/ProjectVersion.txt
