Unity Project Files/The Pen Pals/Library/
Unity Project Files/The Pen Pals/Temp/
Unity Project Files/The Pen Pals/.vs/
Unity Project Files/The Pen Pals/The Pen Pals.csproj
Unity Project Files/The Pen Pals/The Pen Pals.Editor.csproj
